html, body {
  margin: 0;
  padding: 0;
}
.map-container {
  z-index: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.avg-container {
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 45px;
  width: 200px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.avg-container .avg-chart-container {
  padding-top: 20px;
}
.avg-container .avg-chart-container:not(:first-child) {
  padding-top: 40px;
}

.ui.menu {
  height: 40px;
}

.ui.menu .ui.container .header.item {
  padding: 0;
}
.ui.menu .ui.container .header.item img.logo {
  height: 80%;
  width: 80%;
}

.overlay {
  pointer-events: none;
  border-width: 0px;
  border: none;
  position: absolute;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

svg {
  width: 20%;
  height: 20%;
}
.thermometer {
  width: 50px;
  height: 110px;
  display: block;
  position: absolute;
  opacity: 0.6;
  transform: translate(-50%, 0px) scale(0.6);
}

.tube {
  border: 5px solid #5C525F;
  border-bottom: transparent;
  box-sizing: border-box;
  display: block;
  position: absolute;
  z-index: 1;
  left: 14px;
  width: 25px;
  height: 62px;
  border-radius: 50px 50px 0 0;
  background: #FFF;
}

.bulb {
  box-shadow: 0 0 0 5px #FFF, 0 0 0 10px #5C525F;
  background: #66A683;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 37px;
  color: #FFF;
  position: absolute;
  bottom: 10px;
  left: 9px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

.stem {
  background: transparent;
  position: relative;
  display: block;
  width: 10px;
  height: 56px;
  border-radius: 10px 10px 0 0;
  margin: 5px auto;
}

.stem .fluid {
  background: #66A683;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  position: absolute;
  bottom: 0;
  transition-timing-function: linear;
  transition: height 2s;
}
