<ion-content padding>

  <div *ngIf="isInitialized() == true">
    <ion-navbar color='primary'>
      <ion-title>Rate #JOTB</ion-title>
    </ion-navbar>

    <h3>How happy are you where you with the event right now?</h3>

    <p>
      <button ion-button icon-left class="button button-happy" (click)="sendRating($event, 1)">
      <ion-icon name="happy"></ion-icon>
        This is great!
    </button>
    </p>

    <p>
      <button ion-button icon-left class="button button-meh" (click)="sendRating($event, 0)">
      <ion-icon name="happy"></ion-icon>
        It's OK
    </button>
    </p>

    <p>
      <button ion-button icon-left class="button button-sad" (click)="sendRating($event, -1)">
      <ion-icon name="sad"></ion-icon>
        Something seems to be wrong
    </button>
    </p>
  </div>

  <div *ngIf="isInitialized() == false">
    <ion-navbar color='primary'>
      <ion-title>Valo Example</ion-title>
    </ion-navbar>

    <p>
      Before you use this application, may we ask you to fill up the registration details in the Registration tab.
      You will be asked to enter some details about yourself, as well as details of a Valo instance you want to use.
      Don't forget to save the details, after which you can come back to this Home.
    </p>
  </div>

</ion-content>
